h1 {
    color: blue;
    background-color: rgb(234, 10, 10);
    padding: 10px;
}
p {
    color: red;
    background-color: rgb(10, 234, 10);
    padding: 10px;
}
hr {
   border-color: brown;
    border-style: solid;
    border-width: 2px;

}